---

---

<section class="mb-20">
	<h2 class="text-title mb-8">keep in touch</h2>
    <br/>
    <div class="flex flex-col w-2/3 m-auto border-opacity-50">
        <div class="grid h-20 card rounded-3xl place-items-center bg-gradient-to-r from-[#015291] to-[#00163f]">
            <span class="block opacity-90">Address</span>
            <span class="block opacity-70 text-sm h-auto">No.5, Soltani Alley, Jordan St.</span>
        </div>
        <div class="divider m-auto font-bold">&</div>
        <div class="grid h-20 card rounded-3xl place-items-center bg-gradient-to-r from-[#015291] to-[#00163f]">
            <span class="block opacity-90">Phone</span>
            <span class="block opacity-70 text-sm h-auto">+98912 181 7267</span>
        </div>
    </div>

        <br/>
        <br/>
    <div class="w-full p-2 text-center">
        <span class="inline-flex">
            <a href="https://t.me/Ahmadreza_Sameni" class="text-gray-500">
              <svg class="h-9 w-9 text-blue-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" /></svg>
            </a>
            <a href="https://wa.me/989121817267" class="ml-4 text-gray-500">
              <svg class="h-9 w-9 text-green-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />  <path d="M15 7a2 2 0 0 1 2 2" />  <path d="M15 3a6 6 0 0 1 6 6" /></svg>
            </a>
            <a href="https://instagram.com/ahmadreza_sameni?igshid=NTc4MTIwNjQ2YQ==" class="ml-4 text-gray-500">
              <svg class="h-10 w-10 text-yellow-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <rect x="4" y="4" width="16" height="16" rx="4" />  <circle cx="12" cy="12" r="3" />  <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" /></svg>
            </a>
            <a href="https://www.linkedin.com/in/ahmadreza-sameni-55a07b110/?originalSubdomain=ir" class="ml-4 text-gray-500">
              <svg class="h-9 w-9 text-blue-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />  <rect x="2" y="9" width="4" height="12" />  <circle cx="4" cy="4" r="2" /></svg>
            </a>
          </span>
        <br/>
        <br/>
        <button
                class="flexl justify-center items-center gap-2 w-20 h-12 cursor-pointer rounded-2xl shadow-2xl text-white font-semibold bg-gradient-to-r from-[#fb7185] via-[#e11d48] to-[#be123c] hover:shadow-xl hover:shadow-red-500 hover:scale-105 duration-300 hover:from-[#be123c] hover:to-[#fb7185]"
        >
            <svg class="w-10 h-auto m-auto opacity-70"
                    width="100px" height="100px" viewBox="0 -7 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Color-" transform="translate(-200.000000, -368.000000)" fill="#fff">
                        <path d="M219.044,391.269916 L219.0425,377.687742 L232.0115,384.502244 L219.044,391.269916 Z M247.52,375.334163 C247.52,375.334163 247.0505,372.003199 245.612,370.536366 C243.7865,368.610299 241.7405,368.601235 240.803,368.489448 C234.086,368 224.0105,368 224.0105,368 L223.9895,368 C223.9895,368 213.914,368 207.197,368.489448 C206.258,368.601235 204.2135,368.610299 202.3865,370.536366 C200.948,372.003199 200.48,375.334163 200.48,375.334163 C200.48,375.334163 200,379.246723 200,383.157773 L200,386.82561 C200,390.73817 200.48,394.64922 200.48,394.64922 C200.48,394.64922 200.948,397.980184 202.3865,399.447016 C204.2135,401.373084 206.612,401.312658 207.68,401.513574 C211.52,401.885191 224,402 224,402 C224,402 234.086,401.984894 240.803,401.495446 C241.7405,401.382148 243.7865,401.373084 245.612,399.447016 C247.0505,397.980184 247.52,394.64922 247.52,394.64922 C247.52,394.64922 248,390.73817 248,386.82561 L248,383.157773 C248,379.246723 247.52,375.334163 247.52,375.334163 L247.52,375.334163 Z" id="Youtube">
                        </path>
                    </g>
                </g>
            </svg>
        </button>
    </div>
    <br/>


</section>
