<header class="mb-16 header-center bg-blue-800 rounded-3xl rounded-t-none rounded-b-lg-none">
    <nav class="py-4">
        <ul class="flex justify-center uppercase font-medium text-sm text-transparent md:text-base">
            <!--<li>
                <a class="silver hover:brightness-150" href="#Contact">Contact me</a>
            </li>-->
            <li>
                <a class="silver text-lg hover:brightness-150 md:text-xl " href="#">S/A Office</a>
            </li>
            <!--<li>
                <a class="silver hover:brightness-150" href="#">menu</a>
            </li>-->
        </ul>
    </nav>
</header>