<section class="mb-section grid gap-4 md:grid-cols-2 md:gap-12">
    <h2 class="text-title">I'm your partner in building a legacy</h2>
    <p class="neutral-100 opacity-50 text-sm md:text-base text-justify">

        <b>Welcome to S/A Office</b>
        <br/>
        <br/>
        S/A Office is a leading architectural firm specializing in innovative design and sustainable solutions for modern living spaces.

        Our dedicated team of architects and designers work collaboratively to create spaces that are not only functional but also aesthetically pleasing.

        Explore our latest projects and stay updated with the latest news in the world of architecture.

    </p>
</section>